<h2>available burgers!</h2>

<ul>
  {{#each burgers}}
  {{#unless isDevoured}}
  {{> burgers/single-burger isDevoured=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Devoured burgers</h2>

<ul>
  {{#each cats}}
  {{#if isDevoured}}
  {{> burgers/single-burger isDevoured=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    {{!-- <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" id="sleepy" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0" id="awake"> Awake --}}
  </div>

  <button type="submit">Add a burger</button>
</form>