	<div class="jumbotron jumbotron-fluid">
		<h1 class="display-4 text-center align-middle">Eat da burger!</h1>
		<img src="https://media.giphy.com/media/if9pYuDpOD7SobA5rM/giphy.gif" alt="burger" class="rounded mx-auto d-block">
	</div>
<h2>available burgers!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/single-burger devoured=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Devoured burgers</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/single-burger devoured=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  {{!-- <div class="form-group"> --}}
    {{!-- <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" id="sleepy" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0" id="awake"> Awake --}}
  {{!-- </div> --}}

  <button type="submit">Add a burger</button>
</form>